# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Django
db.sqlite3
media/

# VS Code
.vscode/

# Logs
*.log

# Environment Variables
.env

# ML Models
*.pkl
!ml_training/trained_models/*.pkl

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db